<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>  
    <bindings>  
      <wsHttpBinding>  
        <binding name="wsHttpBinding_ICustomerService" />  
      </wsHttpBinding>  
    </bindings>  
    <client>  
      <endpoint address=""  
                binding="wsHttpBinding"  
                contract="WcfService1.ICustomerService"  
                bindingConfiguration="wsHttpBinding_ICustomerService" />  
    </client>  
      
    <behaviors>  
      <serviceBehaviors>  
        <behavior>  
          <serviceMetadata httpGetEnabled="true"/>  
          <serviceDebug includeExceptionDetailInFaults="true"/>  
        </behavior>  
      </serviceBehaviors>  
    </behaviors>      
  
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
